* {
    font-family: "Montserrat", sans-serif;
}

.color {
    color: blueviolet;
}

:root {
    --color-time: #ffd87f;
    --color-yellow: #e0aa00;
    --color-red: #b9373e;
    --color-text: black;
    /* --color-text : rgb(122, 119, 116); */
    --color-grey: #f6f4f4;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .contenedor {
        padding: 0.5rem;
    }
    /*Componente Header*/
    .main-header {
        height: 4rem;
        border-bottom: 1px solid var(--color-red);
        background: var(--color-red);
    }
    .main-menu-link {
        color: var(--color-grey);
        font-size: 0.8rem;
    }
    .logo {
        height: 2.5rem;
    }
    .pago-efectivo-logo {
        padding: 2rem;
    }
    .pago-efectivo-logo img {
        width: 20vh;
    }
    /*Selec -  se encuentra en el componente App*/
    .select {
        margin-bottom: 0;
    }
    .select li {
        list-style: none;
        font-size: 1rem;
        padding: 0;
    }
    /* style navLink */
    .linkNav {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: 700;
        color: #000;
        font-size: 0.8rem;
        padding: 0.5rem 0.5rem 0 0.5rem;
    }
    .linkNav:hover {
        text-decoration: none;
    }
    .active {
        color: var(--color-yellow);
        border: 3px solid var(--color-yellow);
        border-bottom-color: white;
        z-index: 200;
        font-size: 0.9rem;
    }
    hr {
        /* background-color: var(--color-yellow); */
        /* height: 3px; */
        border-color: var(--color-yellow);
        /* color: var(--color-yellow); */
        margin: 0;
    }
    /*Componente children/Informative*/
    .content-info {
        padding: 0;
        text-align: center;
        margin: 0;
    }
    .content-info li {
        list-style: none;
        margin-top: 1rem;
        height: 5rem;
    }
    .content-info li:nth-child(1) {
        background: var(--color-yellow);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-top: 0.5rem;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .content-info li:nth-child(1) span {
        /* font-size: 1.5rem; */
        color: var(--color-grey);
    }
    .content-info li:nth-child(2) {
        background: var(--color-grey);
        font-size: 0.7rem;
        height: 5rem;
        text-align: center;
        display: inline-block;
    }
    .content-info li:nth-child(3) {
        background: var(--color-time);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 0.7rem;
        text-align: center;
        display: inline-block;
    }
    .alarm {
        float: left;
        height: 2rem;
    }
    /*slider plugin*/
    /* button.slick-arrow.slick-prev {
        background-color: black;
        display: none !important;
        background-size: cover;
    }
    button.slick-arrow.slick-next {
        position: absolute;
        right: 20px;
        top: -10px;
        border-radius: 50px;
        width: 30px;
        padding-left: 2px;
        display: none !important;
    } */
    .slick-prev:before,
    .slick-next:before {
        font-size: 25px !important;
        line-height: 1;
        color: #E0AA00 !important;
    }
    .slick-prev:before {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS55LwUNg127reKUDM4ktx_FmoVpF-wjKyuRFUVJOAdlj6o-5ILkg) !important;
    }
    .slick-next:before {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS55LwUNg127reKUDM4ktx_FmoVpF-wjKyuRFUVJOAdlj6o-5ILkg) !important;
    }
    .slick-prev {
        left: -5px !important;
    }
    .slick-slide {
        margin-top: 30px;
    }
    .slick-list {
        height: 5rem;
    }
    .slick-next {
        right: 1rem !important;
    }
    .slider {
        margin: 2rem;
    }
    .prev {
        position: absolute;
        top: 64px;
        font-size: 2rem;
        color: var(--color-yellow);
    }
    .next {
        position: absolute;
        top: 64px;
        font-size: 2rem;
        color: var(--color-yellow);
        right: 0;
    }
    .style-img {
        margin-left: 10px;
    }
    /*Diseño del Componente InternetBanking*/
    .selec-pay {
        color: var(--color-text);
        font-family: "Montserrat", sans-serif;
        font-size: 0.8rem;
        position: relative;
    }
    .box-description p:nth-child(2) {
        color: var(--color-yellow);
        font-weight: 900;
    }
    .box-description ol {
        list-style: none;
        padding: 0;
    }
    .box-description ol li {
        line-height: 2;
    }
    .number {
        color: var(--color-yellow);
        border: 1.9px solid var(--color-yellow);
        padding: 1px 5px;
        border-radius: 50%;
        font-size: 0.7rem;
        margin-right: 3px;
        margin-bottom: 0.5rem;
    }
    .bpi {
        background: var(--color-red);
        color: var(--color-text);
        display: inline;
        text-align: center;
        padding: 1rem;
        border-radius: 15px;
    }
    .bpi a {
        color: var(--color-grey);
    }
    /*Diseño del Componente PayCash*/
    .box-description-cash p:nth-child(1) {
        color: var(--color-yellow);
        font-weight: 900;
    }
    .box-description-cash ol {
        list-style: none;
        padding: 0;
    }
    .box-description-cash ol li {
        /* line-height: 2; */
    }
    /*componente Footer*/
    .contact {
        padding: 0;
        font-size: 0.7rem;
    }
    .contact li {
        list-style: none;
        text-align: center;
    }
    .contact li img {
        cursor: pointer;
    }
    .print {
        text-align: center;
    }
    .print img {
        border: 1px solid;
        padding: 0.4rem 0.4rem;
        border-radius: 10px;
        color: var(--color-yellow);
        width: 5vh;
        cursor: pointer;
    }
    .contact li:nth-child(1) {
        display: none;
    }
    .contact li:nth-child(3) img {
        height: 4vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .contenedor {
        padding: 0.5rem;
    }
    /*Componente Header*/
    .main-header {
        height: 4rem;
        border-bottom: 1px solid var(--color-red);
        background: var(--color-red);
    }
    .main-menu-link {
        color: var(--color-grey);
        font-size: 0.8rem;
    }
    .logo {
        height: 2.5rem;
    }
    .pago-efectivo-logo {
        padding: 2rem;
    }
    .pago-efectivo-logo img {
        width: 10rem;
    }
    /*Selec -  se encuentra en el componente App*/
    .select {
        margin-top: 0;
        margin-bottom: 0;
    }
    .select li {
        list-style: none;
        font-size: 1rem;
        padding: 0;
    }
    /* style navLink */
    .linkNav {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: 700;
        color: #000;
        font-size: 1rem;
        padding: 1rem 1rem 0 1rem;
    }
    .linkNav:hover {
        text-decoration: none;
    }
    .active {
        color: var(--color-yellow);
        border: 3px solid var(--color-yellow);
        border-bottom-color: #f6f4f4;
        z-index: 200;
    }
    hr {
        background-color: var(--color-yellow);
        height: 3px;
        border-color: var(--color-yellow);
        margin: 0;
    }
    /*Componente children/Informative*/
    .content-info {
        padding: 0;
        text-align: center;
    }
    .content-info li {
        list-style: none;
        margin-top: 1rem;
        height: 5rem;
    }
    .content-info li:nth-child(1) {
        background: var(--color-yellow);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-top: 0.5rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .content-info li:nth-child(1) span {
        color: var(--color-grey);
    }
    .content-info li:nth-child(2) {
        background: var(--color-grey);
        font-size: 1rem;
        text-align: center;
        display: inline-block;
    }
    .content-info li:nth-child(3) {
        background: var(--color-time);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 1rem;
        text-align: center;
        display: inline-block;
    }
    .alarm {
        float: left;
        height: 2rem;
    }
    .slider {
        margin: 2rem;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 2.5rem !important;
        line-height: 1;
        color: #E0AA00 !important;
    }
    .slick-prev:before {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS55LwUNg127reKUDM4ktx_FmoVpF-wjKyuRFUVJOAdlj6o-5ILkg) !important;
    }
    .slick-next:before {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS55LwUNg127reKUDM4ktx_FmoVpF-wjKyuRFUVJOAdlj6o-5ILkg) !important;
    }
    .slick-prev {
        left: -5px !important;
    }
    .slick-next {
        right: 4rem !important;
    }
    .slick-list {
        height: 6rem;
    }
    .slick-slide {
        margin-top: 54px;
    }
    .style-img {
        margin-left: 80px;
    }
    .prev {
        position: absolute;
        top: 42px;
        font-size: 4rem;
        color: var(--color-yellow);
    }
    .next {
        position: absolute;
        top: 42px;
        font-size: 4rem;
        color: var(--color-yellow);
        right: 0;
    }
    /*Diseño del Componente InternetBanking*/
    .selec-pay {
        color: var(--color-text);
        font-family: "Montserrat", sans-serif;
        font-size: 0.8rem;
        position: relative;
    }
    .box-description p:nth-child(2) {
        color: var(--color-yellow);
        font-weight: 900;
    }
    .box-description ol {
        list-style: none;
        padding: 0;
    }
    .box-description ol li {
        line-height: 2;
    }
    .number {
        color: var(--color-yellow);
        border: 1.9px solid var(--color-yellow);
        padding: 1px 5px;
        border-radius: 50%;
        font-size: 0.7rem;
        margin-right: 3px;
    }
    .bpi {
        background: var(--color-red);
        color: var(--color-text);
        display: inline;
        text-align: center;
        padding: 1rem;
        border-radius: 15px;
    }
    .bpi a {
        color: var(--color-grey);
    }
    /*Diseño del Componente PayCash*/
    .box-description-cash p:nth-child(1) {
        color: var(--color-yellow);
        font-weight: 900;
    }
    .box-description-cash ol {
        list-style: none;
        padding: 0;
    }
    .box-description-cash ol li {
        line-height: 2;
    }
    /*componente Footer*/
    .contact {
        padding: 0;
        font-size: 1rem;
    }
    .contact li {
        list-style: none;
        text-align: center;
    }
    .contact li img {
        cursor: pointer;
    }
    .print {
        text-align: center;
        margin-top: 1rem;
    }
    .print img {
        border: 1px solid;
        padding: 0.4rem 0.4rem;
        border-radius: 10px;
        color: var(--color-yellow);
        height: 3rem;
        cursor: pointer;
    }
    .contact li:nth-child(1) {
        display: none;
    }
    .contact li:nth-child(3) img {
        height: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .content-info li {
        height: 6rem;
    }
    .content-info li:nth-child(1) {
        font-size: 1.3rem;
    }
    .content-info li:nth-child(2) {
        font-size: 1.3rem;
    }
    .content-info li:nth-child(3) {
        font-size: 1.3rem;
    }
    .selec-pay {
        font-size: 1rem;
    }
    .linkNav {
        font-size: 1.3rem;
    }
    .prev,
    .next {
        top: 58px;
        font-size: 4.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .content-info li {
        height: 7rem;
    }
    .content-info li:nth-child(1) {
        font-size: 1.4rem;
    }
    .content-info li:nth-child(2) {
        font-size: 1.4rem;
    }
    .content-info li:nth-child(3) {
        font-size: 1.4rem;
    }
    .selec-pay {
        font-size: 1.2rem;
    }
    .linkNav {
        font-size: 1.4rem;
    }
    .print {
        display: none;
    }
    .contact li:nth-child(1) {
        display: block;
        font-size: 1.3rem;
    }
    .contact li:nth-child(1) img {
        cursor: pointer;
    }
    .contact li:nth-child(2) {
        font-size: 1.3rem;
    }
    .contact li:nth-child(3) {
        font-size: 1.3rem;
    }
    .alarm {
        float: left;
        height: 3rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}

/* Style to print page */

@media print {
    /* Header */
    .main-header {
        height: 4rem;
        border-bottom: 1px solid var(--color-red);
        background: var(--color-red);
    }
    .main-menu-link {
        visibility: hidden;
    }
    /* Logo none */
    .pago-efectivo-logo {
        display: none;
    }
    /* Nav to select */
    .select {
        margin-bottom: 0;
    }
    .select li {
        list-style: none;
        font-size: 2rem;
        padding: 0;
    }
    /* style navLink */
    .linkNav {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: 700;
        color: #000;
        font-size: 1.5rem;
        /* padding: 0.5rem 0.5rem 0 0.5rem; */
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .active {
        color: var(--color-yellow);
        border: 3px solid var(--color-yellow);
        border-bottom-color: white;
        z-index: 200;
        font-size: 1.5rem;
    }
    hr {
        border-color: var(--color-yellow);
        margin: 0;
        height: 3px;
        background-color: var(--color-yellow);
    }
    .content-info {
        padding: 0;
        text-align: center;
        margin: 0;
    }
    .content-info li {
        list-style: none;
        margin-top: 1rem;
        height: 9rem;
    }
    .content-info li:nth-child(1) {
        background: var(--color-time);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-top: 1.5rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .content-info li:nth-child(2) {
        background: var(--color-grey);
        font-size: 1.5rem;
        height: 9rem;
        text-align: center;
        display: inline-block;
        padding-top: 1.5rem;
    }
    .content-info li:nth-child(3) {
        background: var(--color-time);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 1.5rem;
        text-align: center;
        display: inline-block;
        padding-top: 1.5rem;
    }
    .alarm {
        float: left;
        height: 2rem;
    }
    button.slick-arrow.slick-next {
        position: absolute;
        right: 20px;
        top: -10px;
        border-radius: 50px;
        width: 30px;
        padding-left: 2px;
    }
    .slider {
        margin: 2rem;
    }
    .prev {
        position: absolute;
        top: 64px;
        font-size: 2rem;
        color: var(--color-yellow);
    }
    .next {
        position: absolute;
        top: 64px;
        font-size: 2rem;
        color: var(--color-yellow);
        right: 0;
    }
    /*Diseño del Componente InternetBanking*/
    .selec-pay {
        color: var(--color-text);
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        position: relative;
    }
    .box-description p:nth-child(2) {
        color: var(--color-yellow);
        font-weight: 900;
    }
    .box-description ol {
        list-style: none;
        padding: 0;
    }
    .box-description ol li {
        line-height: 2;
    }
    .number {
        color: var(--color-yellow);
        border: 1.9px solid var(--color-yellow);
        padding: 1px 5px;
        border-radius: 50%;
        font-size: 1.2rem;
        margin-right: 3px;
        margin-bottom: 0.5rem;
    }
    .bpi {
        display: block;
    }
    .bpi {
        background: var(--color-time);
        color: #000;
        ;
        display: inline;
        font-weight: 800;
        text-align: center;
        padding: 1rem;
        border-radius: 15px;
    }
    .bpi a {
        color: #000;
    }
    /*Diseño del Componente PayCash*/
    .box-description-cash p:nth-child(1) {
        color: var(--color-yellow);
        font-weight: 900;
    }
    .box-description-cash ol {
        list-style: none;
        padding: 0;
    }
    /*componente Footer*/
    .contact {
        padding: 0;
        font-size: 1.2rem;
    }
    .contact li {
        list-style: none;
        text-align: center;
    }
    .contact li img {
        cursor: pointer;
    }
    .print {
        display: none;
    }
    .print img {
        display: none;
        cursor: pointer;
    }
    .contact li:nth-child(1) {
        display: none;
    }
    .contact li:nth-child(3) img {
        height: 5vh;
    }
}
